* {
    margin: 0;
    padding: 0;
}

#container {
    font-family: monospace;
}

#side-left {
    position: fixed;
    padding: 50px 20px;
    width: 18%;
    float: left;
    text-align: center;
    background-color: blanchedalmond;
    height: 100%;
}

#logo {
    border: 1px solid darkorange;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
}

#side-right {
    padding: 50px 30px;
    float: right;
    text-align: left;
    width: 76%;
    background-color: whitesmoke;
}

#side-right::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}
    /* author */
#author {
    line-height: 40px;
}

#author h1 {
    font-size: 32px;
}

#author h3 {
    margin-top: 5px;
    font-size: 18px;
}

#author .email {
    font-size: 15px;
}

#author #description {
    line-height: 30px;
}

/*border*/

#border {
    position: absolute;
    border-top: 2px solid darkslategray;
    width: 89%;
    text-align: center;
    /*width: 500px;*/
    margin: 20px 0;
}

  /*categories*/

#categories {
    margin-top: 30px;
}

ul li {
    list-style-type: none;
    line-height: 25px;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: black;
}

    /*side-right*/

#side-right {
    font-family: "Comic Sans MS";
}

#posts .post {
    font-family: monospace;
    padding: 20px 0;
    line-height: 30px;
}

.post time {
    color: grey;
    font-size: 16px;
}

.post strong {
    color: grey;
    font-size: 15px;
}

.post h3 a {
    color: firebrick;
    font-size: 22px;
}

.post h3 a:hover {
    text-decoration: underline;
}

    /*post*/

#post {
    position: relative;
    width: 960px;
    margin: auto;
    padding: 30px;
}

#post h1 {
    font-family: monospace;
    font-size: 40px;
    margin: 30px;
}

#post #content {
    font-size: 20px;
    margin: 15px 0;
    font-family: monospace;
}

#post .tag {
    font-size: 20px;
}

#post h3 {
    font-size: 16px;
    margin-left: 20px;
}

#post #comments {
    margin: 30px 0;
    padding: 10px 0;
}

#comments comment {
    line-height: 24px;
    margin-top: 100px;
}

#comments comment strong {
    font-size: 16px;
}

#comments comment time {
    font-size: 16px;
    color: gray;
}

#comments p {
    margin-left: 10px;
}

#post #add-comment {
    margin-top: 40px;
    text-align: center;
}

#add-comment {
    font-size: 18px;
    font-family: monospace;
}

button {
    padding: 5px 10px;
    background-color: deepskyblue;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover {
    color: blue;
}

input {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    height: 20px;
}
#add-comment {
    display: block;
}

#add-comment input, textarea {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 5px;
}

#add-comment input {
    font-family: monospace;
    height: 20px;
}

#add-comment textarea {
    height: 50px;
    width: 200px;
}

    /*tag*/

#container #tag {
    position: absolute;
    width: 960px;
    text-align: left;
    margin: 50px 200px;
}

    /*ADMIN*/

legend {
    font-size: 30px;
    font-family: monospace;
    margin: 30px;
}

form {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    display: block;
    margin: 50px 100px;
    text-align: center;
}

.row {
    margin: 10px auto;
}

.admin {
    float: right;
}

button#post {
    width: 100px;
}